@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

*{
    margin: 0;
    padding: 0;
}



.section-heading {
    margin: 1.5rem 0 0 1rem;

    @include tablet {
        padding: 0 2.25rem;
        margin: 1.5rem 0 0 0;
    }
}

.reviewer {
    display: flex;
    margin: 0 1rem;
    text-align: center;

    @include tablet {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 2.25rem;
        margin: 0;
    }

    @include desktop {
        padding-left: 0;
        margin-right: 4rem;

    }


    &__title{
        color: $Silver;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    &__left {
        margin: 2.5rem 0.5rem 3.5rem -1rem;
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    
        @include tablet {
            margin: 0 1rem 0 1rem;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        // flex-grow: 1;
        padding: 1rem 0 1rem 0;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            width: 642px;
            
        }
    }

    &__text-area {
        

        height: 100px;
        width: 258px;
        display: flex;
       
        border: 1px solid #E1E1E1;
        border-radius: 0.3rem;
        padding: 1rem 0 0 1rem;
        color: $BrainFlix-Black;
        background-color: $Alabaster;

        @include tablet {
            height: 30px;
            width: 400px;
            padding: 0.6rem;
            margin-top: 0.5rem;   
        }

        @include desktop {
            width: 500px;
            margin-right: 2rem;
        }
         
    }

    &__btn {

        width: 258px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-top: 1rem;
   

        @include tablet {
            width: 200px;
            display: flex;
            align-self: end;
            font-size: 1rem;
            flex-grow: 1;
            margin-top:0;
        }
      

    }
}



 