@use '../../styles/partials/mixins' as *;

*{
    margin: 0;
    padding: 0;
}

.section-heading {
    margin: 1.5rem 0 0 1rem;
}

.reviewer {
    display: flex;
    margin: 0 1rem;

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__title{
        color: #AFAFAF;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;

    }

    &__left {
        margin: 2.5rem 0.5rem 3.5rem -1rem;
        display: flex;

        @include tablet {
            margin: 1.2rem 1rem 0 1rem;
            height: 40px;
            width: 40px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem 0 1rem 0;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__text-area {
        

        height: 100px;
        width: 240px;
        display: flex;
        margin-right: 1rem;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        padding: 1rem 0 0 1rem;
        color: #323232;

        @include tablet {
            height: 30px;
            width: 420px;
            padding: 0.6rem;
            margin-top: 0.5rem;   
        }

        @include desktop {
            width: 550px;
        }
         
    }

    &__btn {

        width: 200px;
        margin: 1rem 5rem 0 0;
        height: 50px;
        display: flex;
        align-items: center;
    

        @include tablet {
            width: 200px;
            display: flex;
            align-self: end;
        }

        &-icon {
            display: flex;
            width: 10%;
            padding-left: 0.5rem;
        }

        &-comment {
            width: 90%;
            display: flex;
            justify-content: center;
        }

    }
}