@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  
}


.upload {


  @include tablet {

    padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0 4rem;
  }

  &__desktop-view {
    @include desktop {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
    }

    &-left {
      width: 100%;

      @include tablet {
        width: 100%;
      }
    }

    &-right {
      display: none;

      @include desktop {
        display: flex;
        flex-direction: column;
        width: 60%;
      }

    }
  }


    &__title {
        border-top: 1px solid $Mercury;
        padding: 1rem;


      @include tablet {
        border-bottom: 1px solid $Mercury;
        margin-bottom: 1.5rem;
        padding: 1.5rem 0;
      }

      @include desktop {
        padding: 3rem 0;
      }

       
    }

    &__heading {
        color: $Silver;
        padding-left: 1rem;
        font-weight: bold;

        @include tablet {
          padding-left: 0;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        border-radius: 0.3rem;
        background-color: $Mercury;

        @include tablet {
            width: 50%;
        }

        @include desktop {
          width: 100%;
        
        }
     

        &-container {
            padding: 1rem;

            @include tablet {
              padding: 0;
            }

            @include desktop {
              padding-right: 2rem;
              padding-bottom: 1rem;
            }


        @include tablet {
          padding-top: 0.5rem;
        }
          
        }

    }


}

.form {
    padding: 0 1rem;

    @include tablet {
      padding: 0;
    }

    &__container {
    

      @include desktop {
        display: none;
      }
    }

    &__title {
        padding: 0.5rem 0;
        color: $Silver;
        font-weight: 600;
    }

    &__input {
        width: 100%;
        padding: 1rem 0.5rem;
        border: 2px solid $Mercury;
        border-radius: 0.3rem;
        background-color: $Alabaster;
    }

    &__description {
        width: 100%;
        border: 2px solid $Mercury;
        border-radius: 0.3rem;
        padding: 0.5rem;
        background-color: $Alabaster;

        
       

        &-title {
            padding-top: 1.5rem;
            color: $Silver;
            font-weight: 700;
            padding-bottom: 0.5rem;

        }
    }

    &__btn-container {
        
        @include tablet {
            border-top: 1px solid $Mercury;
            margin-top: 1.5rem;
            display: flex;
            justify-content: flex-end;
            padding-top: 1rem;
        }
    }

    &__publish-btn {
       width: 290px;
       margin-top: 1rem;
       padding: 1rem 0;
       
       @include tablet {
        order: 1;
        width: 160px;
       
       }
    }

    &__cancel-btn {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
      color: $BrainFlix-Blue;
      font-weight: 700;
      

      @include tablet {
        order: -1;
        padding-right: 3rem;
      }
    }
}