@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.wrapper {
    display: flex;
    justify-content: center;
}

.blue-btn {
    background-color: $BrainFlix-Blue;
    border: none;
    border-radius: 0.3rem;
    height: 3rem;
    font-weight: 700;
    color: $White;
    display: flex;
    align-items: center;
    justify-content: center; // This will keep the text in the center
    cursor: pointer;

    @include tablet {
    
        margin-left: 0;
        
    }

    &__icon {
        height: 35px;
        width: 35px;
        position: relative; // Positioned absolutely relative to its parent
        left: 0.5rem; // Adjust this value to position your icon as you like
    }

    &__input {
        // text-align: center;
        flex-grow: 1; // Allows this element to take up remaining space, thus keeping it centered
        padding-right: 43px;


        @include tablet {
            padding-right: 35px;
        }
        
    }
}


//my original settings

// .blue-btn {
//     background-color: #0095FF;
//     border: none;
//     border-radius: 0.3rem;
//     margin: 0.5rem auto;
//     width: 260px;
//     height: 2rem;
//     color: #FFFFFF;
//     height: 3rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;

//     @include tablet {
//         width: 200px;
//         margin-left: 0;
//         padding-right: 1rem;
//         margin-right: 1rem;
//     }

//     @include desktop {
//         margin-right: 1rem;
//     }

//     &__icon {
//         // margin-right: 5rem;
//         height: 35px;
//         width: 35px;
//         display: flex;
//         width: 20%;
        
//     }

//     &__input {
//         width: 100%;
//         display: flex;
//         justify-content: center;

//     }

// }
