@use '../../styles/partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
}

.video-wrapper {
    width: 100%;

    @include desktop {
        background-color: black;
    }
}

.video-player {
    height: 180px;
    width: 100%;

    @include tablet {
        height: auto;
    }

    @include desktop {
        height: auto;
        width: 60%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    &__title {
        padding: 0 1rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
}

.highlights {
    display: flex;
    padding-top: 1rem;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    margin: 1.5rem 1rem 0 1rem;

    @include tablet {
        border-top: none;
        justify-content: space-between;
    }

    &__left {
        width: 50%;

        @include tablet {
            display: flex;
        }

        &-channel {
            padding-bottom: 1rem;

            @include tablet {
                padding-right: 1rem;
            }
        }

        &-date {
            padding-bottom: 1rem;
            color: #AFAFAF;            ;
        }

        
    }

    &__right {
        width: 50%;
        color: #AFAFAF;

        @include tablet {
            display: flex;
            justify-content: right;
        }

        &-container {
            display: flex;
            padding-bottom: 1rem;

            @include tablet {
                padding-right: 1rem;
            }
        }

        &-icon {
            padding-right: 1rem;
            width: 20px;
            
        }
    }

    &__description {
        padding: 0 1rem;
        line-height: 1.3;
        font-size: 0.9rem;
        margin-top: 1.5rem;
    }
}
