@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
}


.video-wrapper {
    width: 100%;
    background-color: $BrainFlix-Black;

    @include tablet {
        display: flex;
        justify-content: center;
    }

}

.video-player {
    height: 180px;
    width: 100%;

    @include tablet {
        height: auto;
        width: 696px;
    }

    @include desktop {
        height: auto;
        width: 60%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    &__title {
        padding: 0 1rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;

        @include tablet {
            padding: 0 2.25rem;
        }
    }
}

.highlights {
    display: flex;
    padding-top: 1rem;
    border-top: 1px solid $Mercury;
    border-bottom: 1px solid $Mercury;
    margin: 1.5rem 1rem 0 1rem;

    @include tablet {
        border-top: none;
        justify-content: space-between;
        padding: 0 2.25rem;
        margin: 1.5rem 0;
    }

    

    &-wrapper {
        @include desktop {
        width: 77.5%;
        padding-left: 5rem;
       
       
        }
        
    }


    &__left {
        width: 50%;

        @include tablet {
            display: flex;
            justify-content: left;
        }

        &-channel {
            padding-bottom: 1rem;

            @include tablet {
                padding-right: 1rem;
            }
        }

        &-date {
            padding-bottom: 1rem;
            color: $Silver;            
        }

        
    }

    &__right {
        width: 50%;
        color: $Silver;

        @include tablet {
            display: flex;
            justify-content: right;
        }

        &-container {
            display: flex;
            padding-bottom: 1rem;

            @include tablet {
                padding-right: 1rem;
            }
        }

        &-icon {
            padding-right: 1rem;
            width: 35px;
            
        }
    }

    &__description {
        padding: 0 1rem;
        line-height: 1.3;
        font-size: 0.9rem;
        margin-top: 1.5rem;

        @include tablet {
            padding: 0 2.25rem;
        }

        // @include desktop {
        //     width: 75%;
        //     padding-right: 0;
        //     margin-right: 0;
        // }
    }
}
