* {
    margin: 0;
    padding: 0;
}

.video-player {
    height: 180px;

    &__title {
        padding: 0 1rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
}

.highlights {
    display: flex;
    padding-top: 1rem;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    margin: 1.5rem 1rem 0 1rem;

    &__left {
        width: 50%;

        &-channel {
            padding-bottom: 1rem;
        }

        &-date {
            padding-bottom: 1rem;
            color: #AFAFAF;            ;
        }

        
    }

    &__right {
        width: 50%;
        color: #AFAFAF;

        &-container {
            display: flex;
            padding-bottom: 1rem;
        }

        &-icon {
            padding-right: 1rem;
            width: 20px;
            
        }
    }

    &__description {
        padding: 0 1rem;
        line-height: 1.3;
        font-size: 0.9rem;
        margin-top: 1.5rem;
    }
}
