@use '../../styles/partials/mixins' as *;

.header {

    display: flex;
    flex-direction: column;
    padding: 1rem;

    @include tablet {
        flex-direction: row;
        align-items: center;
    }

    @include desktop {
        padding-right: 4rem;
    }
    

    &__logo {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 25px;
        width: 120px;

        @include tablet {
            margin-left: 1rem;
        }

        @include desktop {
            padding-left: 4rem;
        }
    
    }
    
    &__input {
        height: 40px;
        width: 200px;
        display: flex;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        padding-left: 2rem;
        margin-right: 1rem;
        background-image: url(../../assets/images/Icons/search.svg);
        background-repeat: no-repeat;
        background-position: left;

    }

    &__input-container {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        // width: 100%;
        
        @include tablet {
            margin-right: 0;
        }

    }
    
}

.img-mohanmuruge {
    
    @include tablet {
        display: none;
    }

    &-tablet {
        display: none;

        @include tablet {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

