@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    @include tablet {
        padding: 0 2.25rem 1rem 2.25rem;
    }

    @include desktop {
        padding-right: 0;
    }

    &__wrapper {
        display: flex;
        border-top: 1px solid $Mercury
    }

    &__pic {
        height: 15px;
        width: 30px;
        background-color: $Mercury;
        display: flex;
        margin-top: 1rem;
        border-radius:50%;
        padding: 0.8rem;

        @include tablet {
            width: 25px;
            
        }
    }

    &__container {
        padding-left: 1rem;
        flex-grow: 1;
        font-size: 0.8rem;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }
 

    &__name {
        display: inline-block;
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: 600;
        margin-block-end: 0;
        margin-block-start: 0;
    }

    &__date {
        display: inline-block;
        padding: 1rem 0;
        color: $Silver;
        margin-block-end: 0;
        margin-block-start: 0;

        @include desktop {
            padding-right: 2rem;
        }
    }

    &__bottom {
        font-size: 0.8rem;
        
        @include desktop {
            padding-right: 2rem;
        }
    }

}