@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.main {
    @include desktop {
      display: flex;
    }
  
    &__next-videos {
      border-top: 1px solid $Mercury;
      padding-top: 1rem;
      margin: 1rem;
      color: $Silver;
  
      @include desktop {
        margin: 0;
        border-top: 0;
        padding-top:1rem;
        position: relative;
        top: -13rem;
        border-left: 1px solid $Mercury;
        padding-left: 1rem;
      }
  }
  
    &__container {
  
      @include desktop {
        padding-left: 5rem;
      }
    }
  
    &__video-list {
      border-left: 1px solid $Mercury;
    }
  }